import React, { PureComponent } from 'react';

import { {componentName}Container } from './{componentFileName}.styled';

export interface {componentName}Props {}
export interface {componentName}State {}

export default class {componentName} extends PureComponent<{componentName}Props, {componentName}State> {
  render() {
    return <{componentName}Container>TODO</{componentName}Container>;
  }
}
